.site-header {
  background: #777;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  float: right;
  font-size: 8em;
  color: black;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;

}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: 70px;
  margin-top: 50px;
  background: #777;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 4px solid #ccc;
}

.main-banner {
  width: 100%
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

div .class {
  margin-bottom: 50px;
}

.menu ul {
  background: #777;
}


@media only screen and (min-width: 640px) {
  .main-nav ul {
    float: right;
    padding-right: 10px;
    display: block;
  }

  .main-nav li {
    display: inline-block;
    border: none;
    font-size: 1.25em;
  }

  .main-nav span.icon-menu {
    display: none;
  }
}
